@use "reset";
@use "var" as var;
@use "mixins" as mixins;

body {
  max-width: 1512px;
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header--left {
    display: flex;
    padding: 11px 0px 11px 0px;
    gap: 40px;
    .meetup__logo {
      padding: 4px 0px 4px 24px;
    }
    .search__event {
      display: flex;
      padding: 0px 0px 0px 0px;
      #search__left {
        border-radius: 8px 0px 0px 8px;
        border: 1px solid #d9d9d9;
        padding: 11px 54px 10px 37px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #707070;
        position: relative;
      }
      input[id="search__left"] {
        background-image: url(/assets/icons/navbar/loupeSearchIcon.svg);
        background-repeat: no-repeat;
        background-position: 10px center;
      }
      #search__right {
        border: 1px solid #d9d9d9;
        position: relative;
        padding: 11px 57px 10px 17px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #707070;
      }
      #search__right::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        color: #000000;
      }
      .location__search {
        padding: 10px 10px 10px 10px;
        border-radius: 0px 8px 8px 0px;
        background-color: #f65858;
        border: 1px solid #d9d9d9;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .header--right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 49px 14px 0px;
    gap: 22px;
    .language--dropdown-selector {
      display: flex;
      gap: 4px;
      img {
        width: 20px;
        height: 20px;
      }
      #language__selector {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        border: none;
        background-color: transparent;
      }
    }
    .navbar__logIn--btn {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      background-color: transparent;
      border: none;
    }
    .navbar__signUp--btn {
      padding: 8px 18px 8px 18px;
      border-radius: 8px;
      background-color: #00798a;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      border: none;
    }
  }
}

main {
  .join__meetup--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 158px 122px 158px;
    gap: 40px;

    .join__meetup--text-left {
      h2 {
        padding: 71px 54px 25px 0px;
        font-size: 42px;
        font-weight: 700;
        line-height: 52px;
      }
      p {
        padding: 0px 45px 24px 2px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      button {
        padding: 8px 15.8px 8px 16px;
        border-radius: 8px;
        background-color: #00798a;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        border: none;
      }
    }
    .meetup__picture--right {
      width: 379px;
      height: 269px;
      padding: 33px 550px 0px 0px;
    }
  }
  .events-near__grid {
    padding: 0px 154px 0px 158px;
    .events-near__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .events-near__block--left {
        display: flex;
        gap: 8px;
        h2 {
          font-size: 28px;
          font-weight: 600;
          line-height: 36px;
        }
        .events-near__search--input {
          display: flex;
          #header__block--events-near--search {
            padding: 8.67px 47.99px 8.33px 12px;
            border-radius: 8px 0px 0px 8px;
            border: none;
            background: #97cad11f;
          }
          img {
            background: #97cad11f;
            border-radius: 0px 8px 8px 0px;
            padding: 14px 13px 13px 0px;
          }
        }
      }
      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        color: #00798a;
      }
    }
    .block-of-cards {
      padding: 24px 0px 40px 0px;
      .header__block {
        display: flex;
        align-items: center;
        gap: 0px;
      }
      .events-card__grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 36px;
        // margin-top: 24px;
        .event-one__card {
          background: #ffffff;
          padding: 0px 0px 66px 0px;
          img {
            // max-width: 272px;
            // max-height: 153px;
          }
          h3 {
            padding: 12px 40px 8px 0px;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
          }
          .event-type {
            padding: 10px 45px 10px 0px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #707070;
          }
          .event-date {
            display: flex;
            img {
              padding: 2px 6px 0px 0px;
              // max-width: 20px;
              // max-height: 20px;
            }
            p {
              // max-width: 177.81px;
              // max-height: 20px;
              // margin-top: 8px;
              padding: 6px 52px 0px 0px;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              padding-bottom: 2px;
              position: relative;
            }
          }
          .event-card__low-row {
            display: flex;
            .visitors__quantity {
              display: flex;
              img {
                padding: 12px 6px 0px 0px;
                // max-width: 20px;
                // max-height: 20px;
              }
              p {
                padding: 12px 16px 0px 0px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #212121;
                // margin-right: 16px;
                // margin-top: 12px;
                // margin-bottom: 74px;
              }
            }
            .tickets__price {
              display: flex;
              img {
                padding: 14px 2px 0px 0px;
                // max-width: 20px;
                // max-height: 20px;
              }
              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #212121;
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }

  .upcoming-events__header--block {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: none;
      color: #00798a;
    }
  }

  .join-meetup__signup-membership--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 154px 64px 158px;
    .join-meetup__signup-membership--left-block {
      padding: 36px 0px 36px 56px;
      background: #97cad114;
      h2 {
        padding: 0px 0px 16px 0px;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
      }
      p {
        padding: 0px 117px 16px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      button {
        padding: 6px 67px 6px 67px;
        border-radius: 8px;
        border-color: transparent;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #ffffff;
        background: #e32359;
      }
    }
    img {
      padding: 20px 56px 20px 0px;
      background-color: #97cad114;
    }
  }

  .explore-top-categories__block {
    padding: 0px 158px 64px 158px;
    h2 {
      padding-bottom: 24px;
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
    }
    .explore-top-categories__links--block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      gap: 16px;
      .explore-top-categories__links {
        display: flex;
        padding: 6px 0px 6px 0px;
        border-radius: 8px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: #97cad114;
        .explore-top-categories__links--box {
          padding: 22px 57px 6px 57px;
        }
        .explore-top-categories__links--box__paragraphs {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
  }
  .popular-cities-on-meetup__block {
    padding: 0px 154px 64px 158px;
  }
  h2 {
    padding: 0px 0px 16px 0px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
  }
  .popular-cities-on-meetup__block--paragraph {
    padding: 0px 0px 28px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #707070;
  }
  .popular-cities--block {
    display: flex;
    gap: 41.75px;
    padding-bottom: 64px;
    .city-picture--city-name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    a {
      padding-top: 24px;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      text-decoration: none;
      color: #212121;
    }
  }
  .how-meetup-works_block {
    h2 {
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      padding-bottom: 24px;
    }
    .discover-events__start-group--block {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      .discover-events--box {
        display: flex;
        padding: 0px 125px 0px 0px;
        border-radius: 8px;
        background-color: rgba(151, 202, 209, 0.08);
        .discover-events--box__left--icon {
          img {
            padding: 32px 24px 103px 24px;
          }
        }
      }
      .discover-events--box__right {
        h3 {
          padding: 32px 0px 16px 0px;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
        }
        .hosting-local-events {
          padding: 0px 0px 16px 0px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(33, 33, 33, 1);
        }
        .search-events-and-groups {
          padding: 0px 0px 20px 0px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: rgba(0, 121, 138, 1);
        }
      }
    }
  }
  .friendship-meetup {
    // padding: 0px 154px 64px 158px;
    .friendship-meetup__header {
      padding: 64px 0px 16px 0px;
    }
  }
}
