@use "reset";
@use "var" as var;
@use "mixins" as mixins;

body {
  min-width: 1512px;
  font-family: Roboto;
}

nav {
  display: flex;
  align-items: center;
  min-height: 64px;
  .meetup__logo {
    margin: 15px 40px 15px 24px;
  }
  #search__left {
    margin: 11px 0px 11px 0px;
    min-width: 300px;
    min-height: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #d9d9d9;
    position: relative;
    padding: 13px 24px 13px 37px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #707070;
    position: relative;
  }
  input[id="search__left"] {
    background-image: url(/assets/icons/navbar/loupeSearchIcon.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  #search__right {
    margin: 11px 0px 11px -5px;
    min-width: 254px;
    min-height: 42px;
    border: 1px solid #d9d9d9;
    position: relative;
    padding: 13px 24px 13px 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #707070;
  }
  #search__right::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #000000;
  }
  .location__search {
    min-height: 42px;
    min-width: 42px;
    margin-left: 0px;
    margin-right: 471px;
    padding: 11px 11px 11px 11px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f65858;
    border: 1px solid #d9d9d9;
  }
  .location__search > img {
    min-width: 20px;
    min-height: 20px;
  }
  label > img {
    min-width: 20px;
    min-height: 20px;
    margin-right: 4px;
  }
  #language__selector {
    min-width: 49px;
    min-height: 20px;
    margin-right: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .navbar__logIn--btn {
    margin-right: 22px;
    min-width: 41px;
    min-height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    border: none;
  }
  .navbar__signUp--btn {
    margin-right: 50px;
    min-width: 83px;
    min-height: 36px;
    border-radius: 8px;
    background-color: #00798a;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
  }
}

main {
  .join__meetup--block {
    display: flex;
    width: 1196px;
    height: 424px;

    .join__meetup--text-left {
      width: 600.61px;
      height: 104px;
      margin: 98px 0px 0px 158px;
      h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 52px;
      }
      p {
        width: 608.93px;
        height: 72px;
        margin: 24.5px 0px 0px 0px;
        padding-right: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      button {
        width: 125.28px;
        height: 40px;
        margin-top: 24px;
        padding: 8px 15.8px 8px 16px;
        border-radius: 8px;
        background-color: #00798a;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        border: none;
      }
    }
    .meetup__picture--right {
      width: 379px;
      height: 269px;
      margin: 69px 320px 0px 54px;
    }
  }
  .events-near__grid {
    width: 1196px;
    height: 1441px;
    margin-left: 158px;
    margin-top: 24px;
    .header__block {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    h2 {
      width: 160px;
      height: 36px;
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
    }
    #header__block--events-near--search {
      width: 239.42px;
      height: 44px;
      padding: 11.67px 11.99px 8.33px 12px;
      border-radius: 8px;
      border: none;
      background: #97cad11f;
      position: relative;
    }
    a {
      width: 105.61px;
      height: 24px;
      margin-left: 683px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: none;
    }
  }
}
.events-card__grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 36px;
  margin-top: 24px;
  width: 272px;
  height: 399px;
  .event-one__card {
    background: #ffffff;
    img {
      width: 272px;
      height: 153px;
    }
    h3 {
      width: 230px;
      height: 48px;
      margin-top: 12px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
    .event-type {
      width: 256px;
      margin-top: 8px;
      padding: 13px 0px 13px 0px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #707070;
    }
    .event-date {
      display: flex;
      img {
        width: 20px;
        height: 20px;
        margin-top: 8px;
      }
      p {
        width: 177.81px;
        height: 20px;
        margin-top: 8px;
        padding-left: 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 2px;
        position: relative;
      }
    }
    .event-card__low-row {
      display: flex;
      .visitors__quantity {
        display: flex;
        img {
          width: 20px;
          height: 20px;
          margin-right: 2px;
          margin-top: 14px;
        }
        p {
          width: 65px;
          height: 24px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #212121;
          margin-right: 16px;
          margin-top: 12px;
          margin-bottom: 74px;
        }
      }
      .tickets__price {
        display: flex;
        img {
          width: 20px;
          height: 20px;
          margin-right: 2px;
          margin-top: 14px;
        }
        p {
          width: 33.34px;
          height: 24px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #212121;
          margin-top: 12px;
        }
      }
    }
  }
}
