@use "reset";
@use "var" as var;
@use "mixins" as mixins;

body {
  max-width: 1512px;
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header--left {
    display: flex;
    .meetup__logo {
      padding: 15px 40px 15px 24px;
    }
    #search__left {
      margin-top: 11px;
      // max-width: 300px;
      // max-height: 42px;
      border-radius: 8px 0px 0px 8px;
      border: 1px solid #d9d9d9;
      padding: 11px 54px 10px 37px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #707070;
      position: relative;
    }
    input[id="search__left"] {
      background-image: url(/assets/icons/navbar/loupeSearchIcon.svg);
      background-repeat: no-repeat;
      background-position: 10px center;
    }
    #search__right {
      margin-top: 11px;
      // max-width: 254px;
      // max-height: 42px;
      border: 1px solid #d9d9d9;
      position: relative;
      padding: 11px 28px 10px 17px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #707070;
    }
    #search__right::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      color: #000000;
    }
    .location__search {
      // max-height: 42px;
      // max-width: 42px;
      margin-top: 11px;
      // margin-left: 0px;
      // margin-right: 440px;
      padding: 9px 12px 12px 12px;
      border-radius: 0px 8px 8px 0px;
      background-color: #f65858;
      border: 1px solid #d9d9d9;
    }
    // .location__search > img {
    //   max-width: 20px;
    //   max-height: 20px;
    // }
    // label > img {
    //   max-width: 20px;
    //   max-height: 20px;
    //   margin-right: 4px;
    // }
  }
  .header--right {
    display: flex;
    #language__selector {
      min-width: 49px;
      min-height: 20px;
      margin-right: 22px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .navbar__logIn--btn {
      margin-right: 22px;
      max-width: 41px;
      max-height: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      background-color: transparent;
      border: none;
    }
    .navbar__signUp--btn {
      margin-right: 49px;
      min-width: 83px;
      min-height: 36px;
      border-radius: 8px;
      background-color: #00798a;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      border: none;
    }
  }
}

main {
  .join__meetup--block {
    display: flex;
    width: 1196px;
    height: 424px;

    .join__meetup--text-left {
      width: 600.61px;
      height: 104px;
      margin: 98px 0px 0px 158px;
      h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 52px;
      }
      p {
        width: 608.93px;
        height: 72px;
        margin: 24.5px 0px 0px 0px;
        padding-right: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      button {
        width: 125.28px;
        height: 40px;
        margin-top: 24px;
        padding: 8px 15.8px 8px 16px;
        border-radius: 8px;
        background-color: #00798a;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        border: none;
      }
    }
    .meetup__picture--right {
      width: 379px;
      height: 269px;
      margin: 69px 320px 0px 54px;
    }
  }
  .events-near__grid {
    max-width: 1196px;
    max-height: 1141px;
    margin-left: 158px;
    margin-top: 24px;
    .block-of-cards {
      .header__block {
        display: flex;
        align-items: center;
        gap: 8px;
        h2 {
          max-width: 160px;
          max-height: 36px;
          font-size: 28px;
          font-weight: 600;
          line-height: 36px;
        }
        #header__block--events-near--search {
          min-width: 239.42px;
          min-width: 44px;
          padding: 11.67px 11.99px 8.33px 12px;
          border-radius: 8px;
          border: none;
          background: #97cad11f;
          position: relative;
        }
        a {
          max-width: 105.61px;
          max-height: 24px;
          margin-left: 683px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-decoration: none;
          color: #00798a;
        }
      }
      .events-card__grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 36px;
        margin-top: 24px;
        .event-one__card {
          max-width: 272px;
          max-height: 399px;
          background: #ffffff;
          img {
            max-width: 272px;
            max-height: 153px;
          }
          h3 {
            max-width: 230px;
            max-height: 48px;
            margin-top: 12px;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
          }
          .event-type {
            max-width: 256px;
            margin-top: 8px;
            padding: 13px 0px 13px 0px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #707070;
          }
          .event-date {
            display: flex;
            img {
              max-width: 20px;
              max-height: 20px;
              margin-top: 8px;
            }
            p {
              max-width: 177.81px;
              max-height: 20px;
              margin-top: 8px;
              padding-left: 6px;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              padding-bottom: 2px;
              position: relative;
            }
          }
          .event-card__low-row {
            display: flex;
            .visitors__quantity {
              display: flex;
              img {
                max-width: 20px;
                max-height: 20px;
                margin-right: 2px;
                margin-top: 14px;
              }
              p {
                max-width: 65px;
                max-height: 24px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #212121;
                margin-right: 16px;
                margin-top: 12px;
                margin-bottom: 74px;
              }
            }
            .tickets__price {
              display: flex;
              img {
                max-width: 20px;
                max-height: 20px;
                margin-right: 2px;
                margin-top: 14px;
              }
              p {
                max-width: 33.34px;
                max-height: 24px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #212121;
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
  .upcoming-online-events__grid {
    .upcoming-events__header--block {
      display: flex;
      h2 {
        max-width: 333.5px;
        max-height: 36px;
        margin: 40px 757px 0px 0px;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
      }
      a {
        max-width: 105.61px;
        max-height: 24px;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        color: #00798a;
      }
    }
  }
}
